
* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #87CEEB;
}

.card {
  width: 90%;
  max-width: 470px;
  background-image: linear-gradient(to right, #ADD8E6, #4169E1);
  color: #fff;
  margin: 100px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: black;
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
}

.search button {
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.weather-icon {
  width: 170px;
  margin-top: 30px;
}

.weather h1 {
  font-size: 80px;
  font-weight: 500;
}

.weather h2 {
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
}

.col {
  display: flex;
  align-items: center;
  text-align: left;
}

.humidity,
.wind {
  font-size: 28px;
  margin-top: -6px;
}

.col img {
  width: 40px;
  margin-right: 10px;
}

.weather {
  display: none;
}

.error {
  text-align: left;
  font-size: 14px;
  margin-left: 10px;
  margin-top: 10px;
  display: none;
}

@media screen and (max-width: 768px) {
  .card {
    width: 95%;
  }

  .search input {
    height: 50px;
    font-size: 16px;
  }

  .search button {
    width: 50px;
    height: 50px;
  }

  .weather-icon {
    width: 130px;
  }

  .weather h1 {
    font-size: 60px;
  }

  .weather h2 {
    font-size: 35px;
  }

  .details {
    flex-direction: column;
    align-items: flex-start;
  }

  .col {
    margin-bottom: 20px;
  }

  .humidity,
  .wind {
    font-size: 22px;
  }
}
